<div mat-dialog-content class="content">
  <div class="route">
    <app-input-dialog-field class="item" [caption]="'From'"></app-input-dialog-field>
    <img class="icon item" src="assets/Icons/left-arrow.svg" />
    <app-input-dialog-field class="item" [caption]="'To'"></app-input-dialog-field>
  </div>
  <div class="date-time align">
    <app-date-picker class="item"></app-date-picker>
    <app-input-dialog-field class="item time" [caption]="'Time'" [type]="'time'"></app-input-dialog-field>
  </div>
  <div class="driver-price align">
    <app-list-of-values class="item" [label]="'Select driver'" [values]="drivers"></app-list-of-values>
    <app-input-dialog-field class="item" [caption]="'Price'" [type]="'number'"></app-input-dialog-field>
  </div>
</div>
<div mat-dialog-actions class="actions">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button mat-dialog-close cdkFocusInitial>Create</button>
</div>