@import "../../Themes/variables.scss";

:host {
    

    .content {
        display: flex;
        flex-direction: column;

        .item {
            margin-right: $standart-offset;
        }

        .route {
            display: flex;
            align-items: center;
    
            .item {
                &.icon {
                    width: $icon-avarage-size;
                    height: $icon-avarage-size;
                    transform: scaleX(-1);
                }
            }
        }

        .align {
            display: flex;

            .item {
               flex:1
            }
        }
    }

    .actions {
        button {
            &:first-of-type {
                margin-left: auto;
            }
        }
    }
}
