$transparent-black-color: rgba($color: #000000, $alpha: 0.16);

$icon-small-size: 16px;
$icon-avarage-size: 24px;

$nav-item-single-padding: 12px;
$nav-item-padding: $nav-item-single-padding 36px $nav-item-single-padding $nav-item-single-padding;
$nav-item-background-transition: background 1s;