$transparent-black-color: rgba($color: #000000, $alpha: 0.16);
$light-grey: #bab7b6;

$icon-small-size: 16px;
$icon-avarage-size: 24px;

$box-shadow: 0 0 10px $transparent-black-color;

$standart-offset: 12px;

$nav-item-single-padding: $standart-offset;
$nav-item-padding: $nav-item-single-padding 36px $nav-item-single-padding $nav-item-single-padding;
$nav-item-background-transition: background 1s;