@import "../../Themes/variables.scss";


:host {
    display: flex;
    align-items: center;
    transition: $nav-item-background-transition;

    &.collapsed {
        .caption {
            display: none;
        }
    }

    &.logout {
        margin-top: auto;

        .icon {
            transform: scaleX(-1);
        }
    }

    
    &:hover {
        cursor: pointer;
        background-color: $transparent-black-color;
    }

    .item-host {
        display: flex;
        align-items: center;
    
    
        &.routeContainer {
            outline: none;
        }
    
        .icon {
            width: $icon-avarage-size;
            height: $icon-avarage-size;
        }
    
        .caption {
            margin-left: 12px;
        }
    
    }
}

