@import "../../Themes/variables.scss";

:host {
    display: inline-flex;
    align-items: center;
    padding: $nav-item-padding;
    transition: $nav-item-background-transition;

    &:hover {
        cursor: pointer;
        background-color: $transparent-black-color;
    }

    &:focus {
        outline: none;
    }

    .icon {
        width: $icon-avarage-size;
        height: $icon-avarage-size;
    }

    .caption {
        margin-left: 12px;
    }

    &.logout {
        margin-top: auto;

        .icon {
            transform: scaleX(-1);
        }
    }

     &.collapsed {
        .caption {
            display: none;
        }
    }
}
